extends _layouts/_common_layout
block body
  // other css <link rel="stylesheet" href="./other.css">
  link(rel="stylesheet" href="./other.css")
  body
    include _parts/_header
    main
    include _parts/_footer
  // other js <script src="./other.js">

